docker/mysql/data/*
!.gitkeep

/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/src/storage/*
!/src/storage/app/public/profile_images/
!/src/storage/app/public/product_images/
!/src/storage/app/public/.gitkeep
/src/storage/framework/*
/src/storage/logs/*