/* 全体レイアウト */
.sell {
  max-width: 680px;
  margin: 60px auto;
  font-family: "Inter", sans-serif;
  color: #000;
}

/* ページタイトル */
.sell-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 43px;
}

/* 共通ラベル */
.sell__label {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

/* 商品画像エリア */
.sell__image-area {
  margin-bottom: 60px;
}

/* 画像プレビュー枠 */
.image-preview {
  width: 680px;
  height: 150px;
  border: 1px dashed #5f5f5f;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
}

.sell__image-input {
  display: none;
}

/* ファイル選択ボタン風 */
.sell__image-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #ff5655;
  border: 2px solid #ff5555;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  transition: 0.2s;
}

.sell__image-btn:hover {
  background-color: #ff5555;
  color: #fff;
}

/* プレビュー画像 */
#previewImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

/* 商品詳細エリア全体 */
.sell__detail-area {
  width: 680px;
  margin: 60px auto 0;
  padding: 32px 0;
}

/* 小見出し */
.sell__subtitle {
  font-size: 30px;
  font-weight: 700;
  color: #5f5f5f;
  margin-bottom: 36px;
  border-bottom: 1px solid #5f5f5f;
  padding-bottom: 12px;
}

/* タグ全体の配置 */
.category-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 36px 20px;
  width: 680px;
  margin: 36px 0;
}

/* タグ1つの見た目（未選択） */
.category-tag {
  position: relative;
  cursor: pointer;
}

/* checkboxは非表示 */
.category-tag input[type="checkbox"] {
  display: none;
}

/* タグ本体 */
.category-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 15px;
  border: 2px solid #ff5655;
  border-radius: 200px;
  font-weight: 500;
  font-size: 15px;
  color: #ff5655;
  background-color: #fff;
  transition: all 0.2s ease;
  white-space: nowrap;
  /* text-align: center; */
}

/* hover時 */
.category-tag span:hover {
  background-color: #ff5655;
  color: #fff;
}

/* チェック時の見た目 */
.category-tag input[type="checkbox"]:checked+.category-label {
  background-color: #ff5655;
  color: #fff;
  /* border-color: #ff5655; */
}

/* 商品の状態のブロック */
.sell__condition {
  width: 100%;
  /* padding-bottom: 50px; */
  margin-bottom: 65px;
}

/* 全体の枠 */
.custom-select {
  position: relative;
  width: 100%;
  height: 45px;
  font-family: 'Inter', sans-serif;
  margin-top: 20px;
}

/* 選択中の表示部分 */
.custom-select__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #5f5f5f;
}

/* 下矢印アイコン */
.arrow-icon {
  width: 18px;
  height: 18px;
  pointer-events: none;
}

/* オプションリスト（初期は非表示） */
.custom-options {
  position: absolute;
  top: -10%;
  /* trigger のすぐ下に表示 */
  left: 0;
  width: 100%;
  border: 1.5px solid #b1b1b1;
  border-radius: 5px;
  background-color: #636769;
  display: none;
  flex-direction: column;
  margin-top: 2px;
  z-index: 10;
}

/* 各オプション */
.custom-option {
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #eaeaea;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* hover時 */
.custom-option:hover {
  background-color: #4a90e2;
}

/* チェックマーク */
.check-icon {
  width: 15px;
  height: 12px;
  margin-right: 11px;
  visibility: hidden;
}

/* 選択時のスタイル */
.custom-option.selected {
  background-color: #5599eb;
  color: #fff;
  width: 667px;
  height: 22px;
  border-radius: 5px;
  margin: 6px auto;
  padding: 5px;
}

.custom-option.selected .check-icon {
  visibility: visible;
}

.custom-select.open .custom-options {
  display: flex;
}

/* フォームエリア */
/* .sell__form-area {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
} */

/* 各フォーム全体 */
.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  /* gap: 6px; */
}

/* ラベル */
.form-group .sell__label {
  margin-bottom: 7px;
}

.form-group input,
.form-group textarea {
  width: 680px;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  color: #000000;
  box-sizing: border-box;
}

/* テキスト入力欄（商品名、ブランド名） */
/* .form-group input[type="text"] {
  width: 680px;
  height: 45px;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #000;
  background-color: #ffffff;
  box-sizing: border-box;
} */

.form-group input {
  height: 45px;
  font-size: 20px;
}

/* テキストエリア（商品説明） */
.form-textarea {
  /* width: 680px; */
  height: 125px;
  /* border: 1px solid #5f5f5f;
  border-radius: 4px;
  padding: 8px 12px; */
  font-size: 20px;
  /* font-family: 'Inter', sans-serif;
  color: #000000;
  background-color: #ffffff; */
  resize: none;
  /* box-sizing: border-box; */
}

.form-group--category {
  position: relative;
  margin-bottom: 60px;
}

.error {
  position: static;
  margin-top: 6px;
  color: #ff5555;
  font-size: 20px;
  line-height: 1.2;
}

.error--category {
  position: absolute;
  top: 40px;
  left: 0;
  margin: 0;
  color: #ff5555;
  font-size: 20px;
  line-height: 1.2;
}

/* 販売価格全体のブロック */
.price-input {
  position: relative;
  /* display: flex;
  align-items: center; */
  width: 680px;
  /* height: 45px; */
  /* border: 1px solid #5f5f5f; */
  /* border-radius: 4px; */
  /* padding: 0 12px; */
  /* background-color: #ffffff; */
}

/* ￥マーク部分 */
.price-prefix {
  position: absolute;
  left: 12px;
  top: 45%;
  transform: translateY(-50%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  /* margin-right: 8px; */
  pointer-events: none;
}

.price-input input {
  width: 100%;
  height: 45px;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  padding-left: 40px;
  /* padding: 8px 12px 8px 36px; */
  /* border: none;
  outline: none; */
  font-size: 20px;
  font-weight: 500;
  color: #000;
  box-sizing: border-box;
  /* appearance: none; */
  /* background-color: transparent; */
}

.price-input input[type="number"]::-webkit-inner-spin-button,
.price-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* フォーカス時 */
/* .form-group input:focus,
.form-textarea:focus {
  outline: none;
  border-color: #ff5555;
  box-shadow: 0 0 0 2px rgba(255, 85, 85, 0.2);
} */

/* エラー表示 */
/* .error {
  position: absolute;
  color: #ff5555;
  font-size: 20px;
  bottom: -20px;
  margin: 0;
} */

/* .form-group .error {
  position: absolute;
  left: 0;
  bottom: -20px;
  margin: 0;
  color: #ff5555;
  font-size: 20px;
} */

/* 出品ボタン全体 */
.sell-btn {
  display: block;
  width: 680px;
  height: 60px;
  margin: 118px auto 80px;
  background-color: #ff5555;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.sell-btn:hover {
  opacity: 0.85;
}