.sell {
  max-width: 680px;
  margin: 60px auto;
  font-family: "Inter", sans-serif;
  color: #000;
}

.sell-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 43px;
}

.sell__label {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.sell__image-area {
  margin-bottom: 60px;
}

.image-preview {
  width: 680px;
  height: 150px;
  border: 1px dashed #5f5f5f;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
}

.sell__image-input {
  display: none;
}

.sell__image-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #ff5655;
  border: 2px solid #ff5555;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  transition: 0.2s;
}

.sell__image-btn:hover {
  background-color: #ff5555;
  color: #fff;
}

#previewImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.sell__detail-area {
  width: 680px;
  margin: 60px auto 0;
  padding: 32px 0;
}

.sell__subtitle {
  font-size: 30px;
  font-weight: 700;
  color: #5f5f5f;
  margin-bottom: 36px;
  border-bottom: 1px solid #5f5f5f;
  padding-bottom: 12px;
}

.category-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 36px 20px;
  width: 680px;
  margin: 36px 0;
}

.category-tag {
  position: relative;
  cursor: pointer;
}

.category-tag input[type="checkbox"] {
  display: none;
}

.category-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 15px;
  border: 2px solid #ff5655;
  border-radius: 200px;
  font-weight: 500;
  font-size: 15px;
  color: #ff5655;
  background-color: #fff;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.category-tag span:hover {
  background-color: #ff5655;
  color: #fff;
}

.category-tag input[type="checkbox"]:checked+.category-label {
  background-color: #ff5655;
  color: #fff;
}

.sell__condition {
  width: 100%;
  margin-bottom: 65px;
}

.custom-select {
  position: relative;
  width: 100%;
  height: 45px;
  font-family: 'Inter', sans-serif;
  margin-top: 20px;
}

.custom-select__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #5f5f5f;
}

.arrow-icon {
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.custom-options {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  border: 1.5px solid #b1b1b1;
  border-radius: 5px;
  background-color: #636769;
  display: none;
  flex-direction: column;
  margin-top: 2px;
  z-index: 10;
}

.custom-option {
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #eaeaea;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-option:hover {
  background-color: #4a90e2;
}

.check-icon {
  width: 15px;
  height: 12px;
  margin-right: 11px;
  visibility: hidden;
}

.custom-option.selected {
  background-color: #5599eb;
  color: #fff;
  width: 667px;
  height: 22px;
  border-radius: 5px;
  margin: 6px auto;
  padding: 5px;
}

.custom-option.selected .check-icon {
  visibility: visible;
}

.custom-select.open .custom-options {
  display: flex;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.form-group .sell__label {
  margin-bottom: 7px;
}

.form-group input,
.form-group textarea {
  width: 680px;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  color: #000000;
  box-sizing: border-box;
}

.form-group input {
  height: 45px;
  font-size: 20px;
}

.form-textarea {
  height: 125px;
  font-size: 20px;
  resize: none;
}

.form-group--category {
  position: relative;
  margin-bottom: 60px;
}

.error {
  position: static;
  margin-top: 6px;
  color: #ff5555;
  font-size: 20px;
  line-height: 1.2;
}

.error--category {
  position: absolute;
  top: 40px;
  left: 0;
  margin: 0;
  color: #ff5555;
  font-size: 20px;
  line-height: 1.2;
}

.price-input {
  position: relative;
  width: 680px;
}

.price-prefix {
  position: absolute;
  left: 12px;
  top: 45%;
  transform: translateY(-50%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  pointer-events: none;
}

.price-input input {
  width: 100%;
  height: 45px;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  box-sizing: border-box;
}

.price-input input[type="number"]::-webkit-inner-spin-button,
.price-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.sell-btn {
  display: block;
  width: 680px;
  height: 60px;
  margin: 118px auto 80px;
  background-color: #ff5555;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.sell-btn:hover {
  opacity: 0.85;
}
