.show {
  display: flex;
  align-items: flex-start;
  max-width: 1380px;
  margin: 85px 66px;
}

.show__image-area {
  max-width: 690px;
  position: relative;
}

.item-image {
  width: 600px;
  height: 600px;
  margin: 36px 45px;
  object-fit: cover;
  border-radius: 4px;
}

.show__detail {
  flex: 1;
  max-width: 690px;
  padding: 0 60px;
}

.item-name {
  font-weight: bold;
}

.brand {
  height: 28px;
  align-items: center;
  font-size: 20px;
}

.price {
  font-size: 45px;
  margin: 28px 0;
}

.price .tax {
  font-size: 30px;
}

.show__actions {
  display: flex;
  margin-left: 40px;
  gap: 60px;
}

.show__actions .action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: bold;
}

.show__actions img {
  width: 40px;
  height: 40px;
}

.like-icon {
  width: 40px;
  height: 40px;
  transition: filter 0.3s ease;
}

/* 未いいね（グレー寄り） */
.like-icon.not-liked {
  filter: grayscale(80%) brightness(100%);
}

/* いいね済み（黄色っぽく見せる） */
.like-icon.liked {
  filter: grayscale(0%) brightness(200%) sepia(80%) saturate(500%) hue-rotate(10deg);
}

.purchase-btn {
  display: inline-block;
  background: #FF5555;
  color: #fff;
  text-align: center;
  width: 570px;
  height: 56px;
  line-height: 56px;
  border-radius: 4px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin: 22px 0;
}

.show__description {
  width: 570px;
  margin: 37px 0;
}

.show__description h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}

.show__description p {
  font-size: 24px;
  line-height: 1.5;
  color: #000;
  padding: 25px 0;
}

.show__info {
  width: 570px;
  margin: 32px 0;
}

.show__info h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* 共通ラベル */
.show__info .label {
  font-size: 24px;
  font-weight: bold;
  justify-self: start;
}

/* カテゴリー */
.show__info-categories {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 35px;
}

.show__info-categories .label {
  flex: 0 0 80px;
  white-space: nowrap;
  margin-right: 55px;
}

.category-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
}

.category-tag {
  display: inline-block;
  padding: 4px 10px;
  margin-right: 18px;
  background-color: #d9d9d9;
  border-radius: 15px;
  font-size: 20px;
  color: #000;
}

/* 状態 */
.show__info-condition .condition {
  font-size: 20px;
}

.show__info-condition .label {
  margin-right: 61px;
}

.show__comments {
  width: 570px;
  margin-top: 40px;
}

.comments-title {
  font-size: 36px;
  font-weight: 700;
  color: #5F5F5F;
  padding: 20px 0;
  margin-bottom: 30px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.comment-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.comment-avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-body {
  display: flex;
  align-items: center;
  gap: 12px;
}

.comment-user {
  font-size: 30px;
  font-weight: 700;
  margin-left: 18px;
}

.comment-text {
  background-color: #E5E5E5;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  line-height: 1.5;
  padding: 20px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.show__comment-form {
  width: 570px;
  margin: 32px 0;
}

.show__comment-form h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 16px;
}

.comment-textarea {
  width: 100%;
  height: 246px;
  border: 2px solid #5F5F5F;
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 20px;
}

.comment-btn {
  width: 100%;
  height: 56px;
  background-color: #FF5555;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 48px;
}

.comment-btn:hover {
  opacity: 0.9;
}

.error {
  margin-top: 4px;
  font-size: 20px;
}

.session-message {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  color: #155724;
  padding: 12px 20px;
  font-size: 24px;
  margin: 5px auto;
  width: fit-content;
  opacity: 1;
  animation: fadeOut 4s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.show__image-sold {
  position: absolute;
  top: 36px;
  left: 45px;
  width: 0;
  height: 0;
  border-top: 200px solid #FF5555;
  border-right: 200px solid transparent;
}

.sold-text {
  position: absolute;
  top: -110px;
  left: 35px;
  display: inline-block;
  transform: rotate(-45deg);
  transform-origin: left top;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: 'Inter', sans-serif;
}